<h1>THIS IS THE SECRET PAGE</h1>

<p>You Found Me!</p>

<img src="https://images.unsplash.com/photo-1453227588063-bb302b62f50b?dpr=1&auto=format&fit=crop&w=767&h=511&q=60&cs=tinysrgb">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Log Out</a></li>